.permission-list {
    border: solid 1px #eee;
}

.permission-list > dt {
    background-color: #efefef;
    padding: 5px 10px
}

.permission-list > dd {
    padding: 10px;
    padding-left: 30px
}

.permission-list > dd > dl {
    border-bottom: solid 1px #eee;
    padding: 5px 0
}

.permission-list > dd > dl > dt {
    display: inline-block;
    float: left;
    white-space: nowrap;
    width: 100px
}

.permission-list > dd > dl > dd {
    margin-left: 100px;
}

.permission-list > dd > dl > dd > label {
    padding-right: 10px
}
.row {
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px
}

.row:before, .row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0
}
.cl:after, .clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.cl, .clearfix {
    zoom: 1
}
